/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.fade-out {
    opacity: 0;
}
html {
    scroll-behavior: smooth;
}
/* Color Variables */
:root {
    --background-color: #000;
    --secondary-background-color: #1a1a1a;
    --header-background-color: #0f0f0f;
    --text-color: #fff;
    --secondary-text-color: #ccc;
    --border-color: #444;
}

/* Body Styles */
body {
    font-family: "Fira Code", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 80px; /* Adjust this value to match the header's height */
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--header-background-color);
    padding: 20px 0;
    z-index: 1000; /* Ensures the header stays above other elements */
}

nav ul {
    list-style-type: none;
    text-align: right;
    padding: 10px;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a i {
    color: var(--header-background-color);
    font-size: 24px;
    transition: color 0.3s;
}

nav a:hover i {
    color: var(--text-color); /* Optional hover effect */
}

/* Main Content Styles */
main {
    position: relative;
    padding: 50px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content {
    text-align: center;
}

/* Heading Styles */
h1 {
    font-size: 4rem;
    animation: light-grow 2s infinite;
}

.last-name {
    font-family: 'Fira Code', cursive; 
    font-size: 4rem;
}

p {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Name Container */
.name-container {
    position: relative;
    display: inline-block; /* Ensures container wraps tightly around content */
}

/* Intro Text Styling */
.intro-text {
    position: relative;
    top: 0px; /* Adjust vertical position as needed */
    left: -20;    
    font-size: 4.5rem; /* Larger text size */
    text-align: left;
    margin: 0;
    color: var(--text-color); /* Ensures text is white */
}

/* Name Text Styling */
.name-text {
    font-size: 4rem;
    animation: light-grow 2s infinite;
}

/* Arrow Down */
.arrow-down {
    position: absolute; /* Positioned absolutely */
    bottom: 50px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-bottom: 3px solid var(--text-color);
    border-right: 3px solid var(--text-color);
    animation: bounce 2s infinite;
}

/* About Me Section */
.about-me {
    background-color: var(--secondary-background-color); /* Slightly lighter background */
    color: var(--text-color);
    padding: 60px 20px;
    text-align: center;
}

.about-me h2 {
    font-size: 3rem;
    margin-bottom: 0px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    object-fit: cover;
    margin-right: 40px;
    border: 4px solid var(--text-color); 
}

.about-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: left;
    max-width: 600px;
}

/* Icons Section */
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
}

.icon-container .icon {
    width: 75px; /* Initial size of the icons */
    height: 75px;
    margin: 0 40px;
    transition: transform 0.3s;
}

.icon-container .icon:hover {
    transform: scale(1.5); /* Enlarges the icon by 50% on hover */
}

/* Star Background */
#star-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none; /* Ensures the background doesn't interfere with user interactions */
}

/* Star Styles */
.star {
    position: absolute;
    background-color: var(--text-color);
    border-radius: 50%;
    opacity: 0.8;
    animation: floatStars linear infinite;
}
.what-i-do-section ul {
    list-style-type: disc; /* Adds default bullet points */
    margin-left: 20px; /* Indents the list for better readability */
    line-height: 1.6; /* Improves spacing between list items */
}

.what-i-do-section ul li {
    font-size: 1rem; /* Adjusts the font size */
    color: var(--primary-text-color); /* Use your site's primary text color */
}
/* Keyframes for random floating */
@keyframes floatStars {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-20px, -30px);
    }
    50% {
        transform: translate(30px, -10px);
    }
    75% {
        transform: translate(-25px, 20px);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* Projects Section */
.projects {
    background-color: transparent; /* Make background transparent to show stars */
    color: var(--text-color);
    padding: 60px 20px;
    text-align: center;
}

.projects h2 {
    font-size: 3rem;
    margin-bottom: 40px;
}

.projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.project {
    background-color: var(--secondary-background-color); /* Slightly lighter background */
    border: 1px solid #333;
    border-radius: 8px;
    width: 30%;
    margin-bottom: 40px;
    overflow: hidden; /* Ensures inner elements don't overflow */
    position: relative;
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.1);
}

.project img {
    width: 100%;
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image fills the container */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.project-name {
    padding: 20px;
    font-size: 1rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.project a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

/* Project Detail Page Styles */
.project-detail {
    display: flex;
    flex-direction: column;
    align-items: center;    /* Centers items horizontally */
    padding: 30px 20px;
}

.project-image {
    width: 100%;             /* Adjust the width as needed */
    max-width: 1500px;       /* Maximum width of the image */
    height: auto;           /* Maintains the aspect ratio */
}

.project-title {
    margin-top: 20px;
    font-size: 2.5rem;
    text-align: center;
    color: var(--text-color);
}

/* Project Content (About and Info Sections Side by Side) */
.project-content {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: stretch;
    max-width: 1500px;
    width: 80%;
    margin: 10px auto 0 auto; /* Centers the container itself */
}
.about-section,
.info-section {
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    padding: 30px;
    flex: 0 0 45%; /* Each section takes up 45% of the container's width */
    margin: 0 8px;
    border-radius: 7px;
    display: flex;                /* Makes the section a flex container */
    flex-direction: column;       /* Stacks content vertically */
}

.about-section {
    margin-right: 30px;
}

.info-section {
    margin-left: 20px;
}

.about-section h2,
.info-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-section {
    font-size: 1rem;
    line-height: 1;
    color: var(--secondary-text-color);
}
.project-description {
    font-size: 1rem;
    line-height: 1.2;
    color: var(--secondary-text-color);
    padding: 20px;
}

.info-section table {
    width: 100%;
    border-collapse: collapse;
}

.info-section th,
.info-section td {
    padding: 12px 15px;
    text-align: left;
    color: var(--secondary-text-color);
    border-bottom: 1px solid var(--border-color);
}

.info-section th {
    width: 50%; /* Adjust as needed */
    font-weight: bold;
    color: var(--text-color);
}
.what-i-do-section {
    max-width: 1520px;
    width: 100%;
    margin: 40px auto 0 auto; /* Centers the section horizontally */
    text-align: left;        /* Centers the text */
    color: var(--text-color);  /* Uses the main text color */
}

.what-i-do-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.what-i-do-section p {
    font-size: 1.2rem;
    line-height: 1.6;
}
/* Image Gallery Styles */
.image-gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    max-width: 1500px;
    margin: 40px auto; /* Centers the gallery horizontally */
    padding: 0 10px;
}

.gallery-item {
    flex: 1 1 30%; 
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-item img {
    width: 100%;
    height: 200px; /* Fixed height for uniformity */
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s;
}

.image-description {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    color: var(--secondary-text-color);
}
.gallery-item img:hover {
    transform: scale(1.2); /* Enlarges the image by 5% on hover */
}
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Sits above other content */
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
/* Gameplay Video Section */
.gameplay-video-section {
    max-width: 1500px;
    width: 100%;
    margin: 40px auto;
    text-align: left;
    color: var(--text-color);
}

.gameplay-video-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.gameplay-video-section iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 8px;
}

@media (max-width: 800px) {
    .modal-content {
        max-width: 90%;
        max-height: 90%;
    }
    .close-button {
        font-size: 30px;
        top: 15px;
        right: 15px;
    }
}

/* Icon Link Section */
.icon-link-section {
    max-width: 600px;
    width: 100%;
    margin: 30px 190px; /* Centers the section and adds vertical spacing */
    text-align: center;
    color: var(--text-color);
}

.icon-link-section h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: left;
}

.icon-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-decoration: none; /* Removes underline from links */
    color: var(--text-color);
    transition: transform 0.3s;
}

.icon-link img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%; /* Makes the icon circular */
    transition: transform 0.3s;
}

.icon-link p {
    margin-top: 10px;
    font-size: 1rem;
}

.icon-link:hover img {
    transform: scale(1.2); /* Enlarges the icon on hover */
}

.icon-link:hover {
    transform: scale(1.05); /* Slightly enlarges the entire link on hover */
}

@media (max-width: 800px) {
    .icon-link {
        margin: 15px;
    }

    .icon-link img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 800px) {
    .gallery-item {
        flex: 1 1 45%; /* Adjusts items to take up more space on smaller screens */
    }
}

@media (max-width: 600px) {
    .gallery-item {
        flex: 1 1 100%; /* Stacks items vertically on very small screens */
    }
}


/* Media Queries */
@media (max-width: 992px) {
    .project {
        width: 45%;
    }
}
@media (max-width: 800px) {
    .project-content {
        flex-direction: column;
        align-items: center; 
    }

    .about-section,
    .info-section {
        flex: 1 0 auto; /* Allows sections to expand naturally */
        width: 100%; /* Sections take full width */
        margin: 10px 0; /* Vertical spacing between sections */
    }

    .info-section {
        margin-top: 20px;
    }

    .project-image {
        width: 100%;
        max-width: none;
    }

    .project-title {
        font-size: 2rem;
    }

    .about-section h2,
    .info-section h2 {
        font-size: 1.5rem;
    }

    .about-section .project-description,
    .info-section th,
    .info-section td {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .profile-pic {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about-content p {
        text-align: center;
    }
}

/* Animations */
@keyframes light-grow {
    0%, 100% {
        color: var(--text-color); /* A lighter color for glow */
        text-shadow: 0 0 0px rgb(255, 255, 255);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0) rotate(45deg);
    }
    50% {
        transform: translateX(-50%) translateY(10px) rotate(45deg);
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}