.grid-container {
	display: grid;
    grid-template-columns: 10% auto 20%;
    grid-gap: 10px;
}

.grid-container > div{
	border: 2px solid black;
    font-size: 20px;
    text-align: center;
    background-color: black; /* Updated background color to black */
    color: orange; /* Updated font color to orange */
}

h1{
	font-size: 50px; /* Fixed the font size value and added 'px' */
	color: rgb(189, 63, 58);
    font-family: 'Frankenstein' Times, serif;
}

h2 {
    background-color: orange;
    color: black; /* Change the font color to black or another contrasting color */
    margin-left: 20px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Frankenstein', 'Times New Roman', Times, serif;
}

#header{
    grid-column: 1 / span 3;
}

#menu{
    grid-column: 1 / span 1;
}

#main{
    grid-column: 2 / span 1;
}

#right{
    grid-column: 3 / span 1;
}

#footer{
    grid-column: 1 / span 3;
}

#Picture1{
    width: 90%;
	height: 90%;
    border-radius: 80px;
    vertical-align: middle; 
}

@media only screen and (max-width: 500px){
    body{
        background-color: rgb(7, 154, 202);
    }
}

@media only screen and (max-width: 767px) {
    .grid-container{
        display: grid;
        grid-template-columns:10% auto 10%;
        grid-gap: 10px;
    }
    #header{
        grid-column: 1 / span 2;
    }

    #menu{
        grid-column: 1 / span 2;
        text-align: left;
    }

    #menu div{
        display: inline-block;
    }

    #main{
        grid-column: 1 / span 1;
    }
    #right{
        grid-column: 2 / span 1;
    }
    #footer{
        grid-column: 1 / span 2;
    }
}

@media only screen and (max-width: 500px) {
    .grid-container{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    #header{
        grid-column: 1 / span 1;
    }

    #menu{
        grid-column: 1 / span 1;
    }

    #main{
        grid-column: 1 / span 1;
    }
    #right{
        grid-column: 1 / span 1;
    }
    #footer{
        grid-column: 1 / span 1;
    }
}

.left_page{
    text-align: left;
}

.center_page{
    text-align: center;
}
